body {
    background: url(../images/bg-desktop.svg) hsl(257, 40%, 49%) no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

a {
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: auto 53% 37% auto;
    grid-template-rows: 110px 1fr 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    grid-column: 2;
    grid-row: 1;
    width: 190px;
    margin: auto 0;
}

.mockups {
    grid-column: 2;
    grid-row: 2;
    width: 93%;
    margin-top: 50px;
}

.main-text {
    grid-column: 3;
    grid-row: 2;
    width: 97%;
    margin-top: 60px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    font-weight: 600;
}

button.main-cta {
    font-family: inherit;
    font-size: inherit;
    color: hsl(257, 40%, 49%);
    width: 170px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    margin-top: 10px;
}

.social-buttons {
    grid-column: 3;
    grid-row: 3;
    margin: auto 0;
    text-align: right;
}

.social-button .fab  {
    width: 38px;
    height: 38px;
    margin: 5px;
    border: solid 1px #ffffff;
    border-radius: 20px;
    line-height: 38px;
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
